body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.btn-new {
    margin-top: 30px; /* Espacio arriba */
    margin-bottom: 30px; /* Espacio abajo */
    background: #1a73e8;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s, background 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-new:hover {
    background: #1557b0;
    transform: scale(1.05);
}

h1 {
    background-color: rgba(255, 255, 255, 0.64);
    margin-top: 30px; /* Espacio arriba */
    margin-bottom: 60px; /* Espacio abajo */
    margin: 0;
    font-size: 45px;
    text-align: center;
}

.main-header {
    display: flex;
    align-items: center;
    background-color: #004a97;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    height: 60px;
    transition: transform 0.3s ease;
}


#formulario {
    display: none; /* Oculta el formulario inicialmente */
}

#formulario, #listado {
    background: linear-gradient(120deg, #f4f4f4,  #9fe0f4);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #007BFF;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#questionText {
    width: 88%;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-left: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#error {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}

#questionList {
    margin-top: 20px;
}

.question-item {
    background-color: #123d4100;
    border: 2px solid #2862b8f6;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.question-item h3 {
    margin: 0 0 10px 0;
}

.question-item .options {
    margin: 10px 0;
}

.question-item .option {
    margin-bottom: 5px;
}

.question-item button {
    margin-right: 10px;
}

.tabla-estudiantes {
    width: 100%;
    border-collapse: collapse;
}

.tabla-estudiantes th, .tabla-estudiantes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-estudiantes thead {
    background-color: #f2f2f2;
}

.tabla-estudiantes tr:nth-child(even) {
    background-color: #f9f9f9;
}